:root {
  --outlines: #E5E7EB;
}

.blueprintContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem); 
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid var(--outlines);
  overflow: hidden;
}

.blueprintHeader {
  padding: 1.5rem;
  border-bottom: 1px solid var(--outlines);
  background-color: var(--background);
}

.blueprintCanvas {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

/*floating action panel*/
.floatingToolbar {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 1px solid var(--outlines);
  z-index: 10;
  display: flex;
  gap: 10px;
}

.mobileHeader {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

@media (min-width: 992px) {
  .mobileHeader {
    display: block;
  }
}
