:root {
  --background: #F5F5F5;
  --stroke-faded: #6B728084;
  --stroke-solid: #6B7280;

  --green-status-bg: #B2F0C380;
  --green-status-font: #5CBD7F;

  --yellow-status-bg: #FEF3C780;
  --yellow-status-font: #F6AB29;

  --orange-status-bg: #FFC48D80;
  --orange-status-font: #D97706;

  --red-status-bg: #FFAAA780; 
  --red-status-font: #FD4D4D; 

  --accent-button-bg: #6366F1;
  --warning-bg: #F1636354;
}