.content {
    background-color: var(--background);
    min-width: 0;
    min-height: 100vh;
}

.cont {
    display: flex;
    min-height: 100vh;
}

.sidebarColumn {
    width: 280px;
    flex: 0 0 280px;
    display: none;
}

.contentColumn {
    flex: 1 1 auto;
    min-width: 0;
    padding: 1rem;
        
}

.hamburger {
    border: 1px solid #CCCCCC;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.offcanvas {
    width: 280px !important;
}

@media (min-width: 992px) {
    .sidebarColumn {
        display: block;
        position: sticky;
        top: 0;
        height: 100vh;
        align-text: flex-start;
    }
}