/* Main (middle) content styling for layout */
.content {
    background-color: var(--background);
    min-width: 0;
    min-height: 100vh;
}

.cont {
    display: flex;
    min-height: 100vh;
}

.contentColumn {
    flex: 1 1 auto;
    min-width: 0;
    padding: 1rem;
        
}

/* Sidebar column dimensions for layout */
.sidebarColumn {
    width: 280px;
    flex: 0 0 280px;
    display: none;
}

/* Icon styling for mobile screen hamburger menu*/
.hamburger {
    border: 4px solid #CCCCCC;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none !important;
}

.offcanvas {
    width: 280px !important;
}

/* Desktop screen sidebar adjustments*/
@media (min-width: 992px) {
    .sidebarColumn {
        display: block;
        position: sticky;
        top: 0;
        height: 100vh;
    }
}